.about-container{
    padding: 2rem;
    background-color: #F4F5F7;
}

.about-container p, .about-container-card p{
    color: #5E6C84;
    font-size: 15px;
    line-height: 145%;
}

.aboutHeading{
    margin: 10px 24px;
}
.about-container-card{
    background-color: #F4F5F7;
    margin: 3rem 0;
}
.aboutCard{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   
}
@media screen and (max-width: 768px) {
    .aboutCard{
        display: flex;
        flex-direction: column;
        padding: 5px 30px 5px 30px;
    }
}
.about-col{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 1em;
	max-width: 100%;
    justify-self: flex-start; */
	justify-content: center;
    padding: 5px 0 5px 0;
    /* padding-top: 40px ; */
}
.card-wrapper > * {
    padding: .5em;
}
.card-wrapper{
    background-color: #ffffff;
    width:359px;
    height: 285px;
    margin: 0 24px; 
    padding: 32px 32px 40px 32px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0px 10px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease-in-out;
    /* position: relative; */
}

.about-image{
    display: flex;
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.15);
    overflow: hidden;
}